.sidebar-title{
    margin-bottom: 2rem;
    color: grey;
    text-align: left;
    background-color: $black;
    padding: 1rem;
}
.sidebar {
    background-color: $background;
    width: 100%;
    margin-top: 1rem;

    @include respond-to(mm) {
        display: flex;
        flex-wrap: wrap;
    }


    @include respond-to(lg) {
        box-sizing: border-box;
        width: 24%;
        margin-left: 1%;
        margin-top: 0;
        display: block;
    }

    &__content {
        padding: 1rem;
        box-sizing: border-box;
        width: 100%;

        @include respond-to(mm) {
            width: 50%;
            box-sizing: border-box;
        }


        @include respond-to(lg) {
            width: 100%;
            box-sizing: border-box;
        }

        >h3 {
            @extend .sidebar-title
        }

        >a{
            color: grey;
            &:hover {
                color: $orange;
            }
        }

        >li.categories{
            list-style-type: none;
            &>h3 {
                @extend .sidebar-title
            }
        }

        >table{
            margin: 0 auto;
            font-size: 1.2rem;
            color: grey;
            background-color: white;
            >caption{
                text-transform: capitalize;
                margin: 1rem 0;
                @extend .sidebar-title
            }
            a{
                color: $orange;
            }
            td,
            th{
                padding: 0.45rem;
            }
        }



        & ul {
            background-color: white;
            text-align: left;
            padding: 1rem;

            & li {
                color: grey;
                letter-spacing: 1.1px;
                font-size: 0.9rem;
                margin: 0.5rem 0;

                & a {
                    color: grey;

                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
}