/** Navbar */

// Variables
$header-height: 3rem;
$header-mult: 1;
$items: 4;

#responsive,
#projects,
#articles,
#contactame,
#footer {
    box-sizing: border-box;
    position: relative;
    top: -$header-height * 5 / 3;
}

.nav {
    font-family: $font-awesome;
    color: $white;
    height: $header-height;
    line-height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    transition: all 1.2s ease;
    background-color: $black;

    @include respond-to(md) {
        height: $header-height * $header-mult;
        line-height: $header-height * $header-mult;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    &__mobile {
        display: flex;
        justify-content: space-between;
        margin-left: 3em;
        transition: all 0.3s ease;
        height: $header-height;

        @include respond-to(md) {
            height: $header-height * $header-mult;
        }


        &--logo {
            height: 0;
            height: auto;
            vertical-align: middle;
            display: flex;
            order: 1;

            &--picture {
                transition: all 1.2s ease;

                @include respond-to(xs) {
                    display: flex;
                }


                & img {
                    box-sizing: border-box;
                    border-radius: 50%;
                    border: 2px solid $white;
                    transition: all 1.2s ease;
                    width: $header-height;
                    height: $header-height;

                    @include respond-to(md) {
                        height: $header-height * $header-mult;
                        width: $header-height * $header-mult;
                        border: 3px solid $white;
                        transition: all 1.2s ease;
                    }
                }

                & img:hover {
                    transform: rotate(360deg);
                    transition: all 1.2s ease;
                    border: 2px solid $orange;

                    @include respond-to(md) {
                        border: 3px solid $orange;
                    }
                }
            }

            & h2.title__nav {
                color: $white;
                margin-left: .5em;
                font-size: 1.2em;
                display: none;
                transition: all 1.2s ease;

                @include respond-to(xs) {
                    transition: all 1.2s ease;
                    display: block;
                }


                @include respond-to(md) {
                    transition: all 1.2s ease;
                    display: none;
                }


                @include respond-to(lg) {
                    transition: all 1.2s ease;
                    display: block;
                }


                &:hover {
                    color: $orange;
                }
            }
        }

        &--btn {
            border: 0;
            margin-right: 1em;
            outline: none;
            font-size: 1.5em;
            order: 2;
            border-radius: 5px;
            line-height: $header-height;
            height: $header-height;
            width: $header-height;

            @include respond-to(md) {
                height: $header-height * $header-mult;
                line-height: $header-height * $header-mult;
                width: $header-height * $header-mult;
            }


            &.active {
                color: red;
                background-color: #0f0f0f;
            }

            &.inactive {
                color: $white;
                background-color: $black;

                &:hover {
                    color: $orange;
                }
            }

            &:visited {
                color: $white;
            }

            @include respond-to(md) {
                display: none;
            }
        }
    }

    &__menu--navbar {
        width: 100%;

        @include respond-to(md) {
            width: 60%;
            text-align: right;
        }


        @include respond-to(lg) {
            width: 45%;
        }


        @include respond-to(sm-landscape) {
            width: 100vw;
        }
    }

    &__menu--list {
        height: 0;
        overflow: hidden;
        list-style-type: none;
        margin-right: 2em;
        transition: all 0.3s ease;

        @include respond-to(md) {
            height: $header-height * $header-mult;
        }


        &--show {
            height: 100%;
            transition: all 2s ease;
        }

        &--item {
            @include respond-to(md) {
                display: inline-block;
                margin: 0;
                text-align: center;
                box-sizing: border-box;
                width: 100% / $items - 1;

                &:nth-child(4) {
                    background-color: rgba(15, 15, 15, 0.75);
                }
            }


            @include respond-to(sm-landscape) {
                display: inline-block;
                margin: 0 auto;
                text-align: center;
                width: 100% / $items - 1;
                padding: 0;
            }


            & a {
                background-color: rgba(255, 176, 64, 0.75);
                font-size: 95%;
                color: $white;
                width: 100%;
                display: block;
                text-align: left;
                padding-left: 1em;
                box-sizing: border-box;
                border-top: 3px solid $orange;
                border-bottom: 3px solid transparent;
                transition: height .3s ease;

                @include respond-to(md) {
                    background-color: transparent;
                    border-top: 3px solid transparent;
                    box-sizing: border-box;
                    padding: 0 .5em;
                    text-align: center;
                    font-size: 1.1rem;
                    height: $header-height * $header-mult;
                    line-height: $header-height * $header-mult;
                }


                @include respond-to(sm-landscape) {
                    padding: 0;
                    text-align: center;
                    border-top: 3px solid transparent;
                }


                &:hover {
                    border-top: 3px solid $orange;
                    background-color: rgba(30, 30, 30, 0.9);

                    @include respond-to(md) {
                        box-sizing: border-box;
                        color: $orange;
                        border-top: 3px solid $orange;
                    }
                }
            }
        }
    }
}