nav.legal {
    text-align: center;
    height: 1rem;
    font-size: 0.8rem;
    line-height: 1rem;
    background-color: black;

    & ul {
        & li {
            margin: 0 0.5rem;
            display: inline-block;

            & a {
                color: grey;

                &:hover {
                    color: $orange;
                }

                & h2 {
                    font-size: 0.8rem;
                }
            }
        }
    }
}