.navigation{
	width: 100%;
	padding-left: 1rem;
}

.wp-pagenavi{
	& span.pages,
	& a.page,
	& .page-numbers,
	& span.extend,
	& a.first,
	& a.nextpostslink,
	& a.previouspostslink,
	& a.last {
		padding:5px;
		height:20px;
		margin-right:5px;
		background: $orange;
		color:white;
		border:1px solid $orange;
		text-decoration:none;
		border-radius: 3px;
		display:block;
		float:left;
	}
	& span.current,
	& a:hover {
		padding:5px;
		height:20px;
		margin-right:5px;
		background:$purple;
		color:#7ec5ff;
		border:1px solid $purple;
		text-decoration:none;
		border-radius: 3px;
		display:block;
		float:left;
	}
	& a.next,
	& a.prev {
		padding-top:1px 0;
		height:20px;
		margin-right:5px;
		background: $orange;
		color:white;
		border:1px solid $orange;
		text-decoration:none;
		border-radius: 3px;
		display:block;
		float:left;
	}
	& i img {
		height:20px;
		width:25px;
		margin-top:0px;
	}
}