/** Customizando Estilos */

.body {
    font-size: 16px;
    font-family: $font-awesome;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.8rem;

    @media screen and (min-width: $screen-md) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1.4em;

    @media screen and (min-width: $screen-md) {
        font-size: 1.5em;
    }
}

h3 {
    font-size: 1.2em;

    @media screen and (min-width: $screen-md) {
        font-size: 1.3em;
    }
}

noscript iframe.google-tag {
    display: none;
    visibility: hidden;
}

.title {
    color: grey;
    padding: 2rem 0;

    @include respond-to(sm) {
        padding-top: 1rem;
    }
}

.hide {
    display: none;
}

.adHeader {
 width: 400px;
 height:60px;
 float:left;
 margin: 35px 0 0 10px;
 }