/** Articles & Projects */
.content {
    &__articles {
        &--container {
            box-sizing: border-box;
            height: 100%;

            @include respond-to(mm) {
                display: flex;
                flex: 0 1;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        &--post {
            width: 100%;
            box-sizing: border-box;
            background-color: white;
            margin-bottom: 0.5rem;
            text-align: left;

            &:hover {
                background-color: $orange;
                color: white;

                & i.fa.fa-folder-open-o,
                & i.fa.fa-tags,
                & i.fa.fa-user,
                & i.fa.fa-calendar {
                    color: $brown;
                }

                & h3 {
                    color: white;
                }
            }

            @include respond-to(mm) {
                margin: 0.3rem;
                position: relative;
                border: none;
                width: 48%;
                padding-right: 0;
            }


            @include respond-to(lg) {
                width: 30%;
            }


            @include respond-to(xl) {
                width: $width * 3.85;
            }


            &--picture {
                color: $orange;
                display: flex;

                @include background("http://i2.wp.com/web.alexballera.com/wp-content/uploads/2016/03/code.jpg", $background);

                justify-content: center;

                & img {
                    width: 50%;
                    height: 50%;
                    vertical-align: middle;

                    // @include respond-to(mm) {
                    //     width: 100%;
                    //     height: 100%;
                    // }
               
                }
            }

            &--title {
                color: $orange;
                margin: 0.5rem;
            }

            & i.fa,
            & i.fa a{
                font-size: 0.8rem;
                color: grey;
                font-family: $font-awesome;
                text-align: left;
            }
            & i.fa.fa-folder-open-o:before,
            & i.fa.fa-tags:before,
            & i.fa.fa-user:before,
            & i.fa.fa-calendar:before {
                margin: 0 0.3rem;
            }
            &--footer{
                display: none;
                @include respond-to(md) {
                    display: block;
                }
            }
        }
    }
}