/**
 * Comments
 */

.comments-area {
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    padding: 7.6923%;

    & > :last-child {
        margin-bottom: 0;
    }
}

.comment-list + .comment-respond {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
    padding-top: 1.6em;
}

.comments-title,
.comment-reply-title {
    font-family: $font-awesome;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.3333;
}

.comments-title {
    margin-bottom: 1.3333em;
}

.comment-list {
    list-style: none;
    margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    padding: 1.6em 0;
}

.comment-list .children {
    list-style: none;
    margin: 0;

    & > li {
        padding-left: 1rem;
    }
}

.comment-author {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    margin-bottom: 0.4em;
    text-align: left;

    & a:hover {
        border-bottom: 1px solid #707070;
        border-bottom: 1px solid rgba(51, 51, 51, 0.7);
    }

    & .avatar {
        float: left;
        margin-right: 0.8em;
    }

    & b.fn a {
        color: $orange;

        &:hover {
            color: $purple;
            text-decoration: none;
        }
    }
}

.bypostauthor > article .fn:after {
    content: "\f304";
    position: relative;
    top: 5px;
    left: 3px;
}

.comment-metadata,
.pingback .edit-link {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-family: $font-awesome;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.comment-metadata a,
.pingback .edit-link a {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
}

.comment-metadata a:hover,
.pingback .edit-link a:hover {
    border-bottom: 1px solid #333;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .edit-link a:hover,
.pingback .edit-link a:focus {
    color: #333;
}

.comment-metadata {
    margin-bottom: 1.6em;
    text-align: left;
    font-size: 0.9rem;

    & .edit-link {
        margin-left: 1em;
    }
}

.pingback .edit-link {
    margin-left: 1em;

    &:before {
        top: 5px;
    }
}

.comment-content ul,
.comment-content ol {
    margin: 0 0 1.6em 1.3333em;
}

.comment-content li > ul,
.comment-content li > ol {
    margin-bottom: 0;
}

.comment-content > :last-child {
    margin-bottom: 0;
    text-align: left;
    font-size: 1.2rem;
}

.comment-list .reply {
    font-size: 12px;
    font-size: 1.2rem;
    text-align: left;

    & a {
        border: 1px solid #eaeaea;
        border: 1px solid rgba(51, 51, 51, 0.1);
        color: #707070;
        color: rgba(51, 51, 51, 0.7);
        display: inline-block;
        font-family: $font-awesome;
        font-weight: 700;
        line-height: 1;
        margin-top: 2em;
        padding: 0.4167em 0.8333em;
        text-transform: uppercase;
        text-align: left;
    }
}

.comment-list .reply a:hover,
.comment-list .reply a:focus {
    border-color: #333;
    color: #333;
    outline: 0;
}

.comment-form {
    padding-top: 1.6em;
    text-align: left;
    margin: 0 auto;

    & p {
        margin: 1rem auto;
    }

    & label {
        color: #707070;
        color: rgba(51, 51, 51, 0.7);
        font-family: $font-awesome;
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        letter-spacing: 0.04em;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    & input[type="text"],
    & input[type="email"],
    & input[type="url"],
    & input[type="submit"],
    & textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }

    & input[type="submit"] {
        width: 100%;
        box-sizing: border-box;
        background-color: #1E1E1E;
        color: #F1FFF9;
        letter-spacing: 1.2px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 1.5rem;
        font-family: "FontAwesome", Arial, sans-serif;
        border: none;

        &:hover {
            background-color: #F47B5C;
        }
    }
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-family: $font-awesome;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: left;
}

.logged-in-as a:hover {
    border-bottom: 1px solid #333;
}

.no-comments {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-family: $font-awesome;
    font-weight: 700;
    padding-top: 1.6em;
}

.comment-navigation + .no-comments {
    border-top: 0;
}

.form-allowed-tags code {
    font-family: $font-awesome;
}

.form-submit {
    margin-bottom: 0;
}

.required {
    color: #c0392b;
}

.comment-reply-title small {
    font-size: 100%;
}

.comment-reply-title small a {
    border: 0;
    float: right;
    height: 32px;
    overflow: hidden;
    width: 26px;
}

.comment-reply-title small a:before {
    content: "\f405";
    font-size: 32px;
    position: relative;
    top: -3px;
}