/** Content */
.container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: $background;

    @include respond-to(sm) {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 90%;
        padding: 1em;
    }
}

.content {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    &__title {
        width: 90%;
        margin: 1rem auto;
        padding: 2rem 1rem;
        letter-spacing: 1.2px;
        color: grey;
        font-size: 1.4rem;
        line-height: 1.75rem;

        @include respond-to(xs) {
            font-size: 1.5rem;
        }


        @include respond-to(sm) {
            padding-top: 1rem;
        }


        @include respond-to(md) {
            font-size: 1.75rem;
            line-height: 2rem;
        }
    }
}

@import "./responsive";
@import "./articles";
@import "./form";
@import "./taxonomy";
@import "./single";

.hide {
    display: none;
}