.wp-pagenavi span.pages,
 .wp-pagenavi a.page,
 .wp-pagenavi .page-numbers,
 .wp-pagenavi span.extend,
 .wp-pagenavi a.first,
 .wp-pagenavi a.nextpostslink,
 .wp-pagenavi a.previouspostslink,
 .wp-pagenavi a.last {
 padding:5px;
 height:20px;
 margin-right:5px;
 background: #7ec5ff;
 color:white;
 border:1px solid #5995c6;
 text-decoration:none;
 border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 display:block;
 float:left;
 }
 .wp-pagenavi span.current,
 .wp-pagenavi a:hover {
 padding:5px;
 height:20px;
 margin-right:5px;
 background:#fff;
 color:#7ec5ff;
 border:1px solid #5995c6;
 text-decoration:none;
 border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 display:block;
 float:left;
 }
 .wp-pagenavi a.next,
 .wp-pagenavi a.prev {
 padding-top:1px 0;
 height:20px;
 margin-right:5px;
 background: #7ec5ff;
 color:white;
 border:1px solid #5995c6;
 text-decoration:none;
 border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 display:block;
 float:left;
 }
 .wp-pagenavi img {
 height:20px;
 width:25px;
 margin-top:0px;
 }