/*
* Single Post & Page
*/

.content__single {
    @include respond-to(md) {
        padding: 2rem 5rem;
    }


    &--title {
        font-weight: 700;
        padding-bottom: 2rem;
    }

    &--text {
        & h2,
        & h3 {
            padding: 1rem 0;
            font-weight: 700;
        }

        & blockquote {
            margin: 2rem 3rem;
            padding: 1rem;
            border-left: 15px solid $orange;
            border-right: 2px solid $orange;
            box-shadow: 2px 2px 15px #ccc;

            & p {
                font: italic;

                &:nth-child(1) {
                    &::before {
                        content: "\201C";
                        color: #999;
                        font-size: 3rem;
                        font-weight: bold;
                    }
                }

                &:nth-child(last) {
                    &::after {
                        content: "";
                    }
                }
            }
        }

        & pre {
            font-size: 80%;

            @include respond-to(md) {
                font-size: 1rem;
            }
        }

        & p {
            margin-top: 1rem;
            letter-spacing: 1.2px;
            font-size: 1.2rem;
            line-height: 1.2rem;

            & a {
                font-weight: bolder;
                text-decoration: none;
                color: $orange;

                &:hover {
                    color: $purple;
                }
            }

            & img {
                display: none;

                @include respond-to(md) {
                    display: block;
                    margin: 1rem auto;
                }
            }
        }

        & ol {
            list-style-type: decimal;
            margin: 1rem;
            margin-left: 2rem;
            letter-spacing: 1.2px;
            font-size: 1.2rem;
            line-height: 1.2rem;
        }
    }

    &--footer {
        display: none;

        @include respond-to(md) {
            margin-top: 2rem;
            display: block;
            background-color: grey;
            color: white;
            padding: 3rem 1rem;
            width: 100%;
            font-family: $font-awesome;
        }


        & i {
            margin-right: 0.5rem;
            font-family: $font-awesome;

            &:before {
                margin-right: 0.5rem;
            }

            & a {
                color: white;
                font-family: $font-awesome;

                @include respond-to(md) {
                    height: 5rem;
                }


                &:hover {
                    color: $orange;
                }
            }
        }
    }
}

form.contact-form {
    & label {
        letter-spacing: 1.2px;
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-family: $font-awesome;
        text-align: left;
    }

    & input,
    & textarea {
        padding: 0.7rem;
        margin: 0.3rem 0;
        width: 100%;
    }

    & input[type="submit"] {
        background-color: $black;
        color: $white;
        letter-spacing: 1.2px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 1.5rem;
        font-family: $font-awesome;

        &:hover {
            background-color: $orange;
        }
    }
}

/*
* Compártelo
*/
.sharedaddy {
    div.sd-sharing {
        & h3.sd-title {
            font-size: 1.2em;

            @media screen and (min-width: $screen-md) {
                font-size: 1.3em;
            }
        }
    }
}

/*
* Disqus
*/
div#disqus_thread {
    width: 85%;
    margin: 1rem auto;
    padding: 1rem;
}