.taxonomy {
    color: white;

    &__title {
        margin: 1rem auto;
    }

    &__description {
        width: 60%;
        margin: 1rem auto 0 auto;

        & p {
            letter-spacing: 1.2px;
            line-height: 1.4rem;
            font-size: 1.2rem;
            & strong{
                font-weight: 700;
            }
        }
        & img{
            display: block;
            width: 100px;
            height: 100px;
            margin-bottom: 1rem;
        }
    }
}